# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyCharm / IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Virtual Environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Operating System files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
